**Imports**

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

**Reading In Data**

In [2]:
chi_df = pd.read_csv('./working_data_DEL_LATER/chi_accidents.csv')

In [3]:
chi_df.head()

,id,severity,start_time,end_time,start_lat,start_lng,end_lat,end_lng,distance(mi),description,...,roundabout,station,stop,traffic_calming,traffic_signal,turning_loop,sunrise_sunset,civil_twilight,nautical_twilight,astronomical_twilight
0,A-2749141,2,2016-11-30 14:46:48,2016-11-30 20:46:48,42.305960,-87.960150,42.306916,-87.960918,0.077,Between IL-137/Buckley Rd/Peterson Rd and IL-1...,...,False,False,False,False,True,False,Day,Day,Day,Day
1,A-2749152,2,2016-11-30 14:58:59,2016-11-30 20:58:59,42.175870,-88.135770,42.174620,-88.135794,0.086,At US-14/Northwest Hwy - Accident.,...,False,False,False,False,True,False,Day,Day,Day,Day
2,A-2749158,3,2016-11-30 15:14:24,2016-11-30 21:29:48,42.175897,-88.135769,42.174612,-88.135794,0.089,Between IL-22 and US-14/Northwest Hwy - Accident.,...,False,False,False,False,True,False,Day,Day,Day,Day
3,A-2749175,3,2016-11-30 16:13:53,2016-11-30 22:13:53,41.860591,-87.992749,41.860590,-87.992700,0.003,At CR-25/Meyers Rd/Westmore-Meyers Rd - Accident.,...,False,False,False,False,True,False,Day,Day,Day,Day
4,A-2749188,3,2016-11-30 16:33:05,2016-11-30 22:33:05,41.750330,-87.663440,41.750330,-87.663440,0.000,At Ashland Ave - Accident.,...,False,True,False,False,True,False,Night,Day,Day,Day

In [4]:
chi_df.columns

Index(['id', 'severity', 'start_time', 'end_time', 'start_lat', 'start_lng',
       'end_lat', 'end_lng', 'distance(mi)', 'description', 'number', 'street',
       'side', 'city', 'county', 'state', 'zipcode', 'country', 'timezone',
       'airport_code', 'weather_timestamp', 'temperature(f)', 'wind_chill(f)',
       'humidity(%)', 'pressure(in)', 'visibility(mi)', 'wind_direction',
       'wind_speed(mph)', 'precipitation(in)', 'weather_condition', 'amenity',
       'bump', 'crossing', 'give_way', 'junction', 'no_exit', 'railway',
       'roundabout', 'station', 'stop', 'traffic_calming', 'traffic_signal',
       'turning_loop', 'sunrise_sunset', 'civil_twilight', 'nautical_twilight',
       'astronomical_twilight'],
      dtype='object')

In [5]:
chi_df.shape

(42472, 47)

In [6]:
chi_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42472 entries, 0 to 42471
Data columns (total 47 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     42472 non-null  object
 1   severity               42472 non-null  int64
 2   start_time             42472 non-null  object
 3   end_time               42472 non-null  object
 4   start_lat              42472 non-null  float64
 5   start_lng              42472 non-null  float64
 6   end_lat                42472 non-null  float64
 7   end_lng                42472 non-null  float64
 8   distance(mi)           42472 non-null  float64
 9   description            42472 non-null  object
 10  number                 15879 non-null  float64
 11  street                 42472 non-null  object
 12  side                   42472 non-null  object
 13  city                   42471 non-null  object
 14  county                 42472 non-null  object
 15  state                  42472 non-null  object
 16  zipcode                42472 non-null  object
 17  country                42472 non-null  object
 18  timezone               42470 non-null  object
 19  airport_code           42470 non-null  object
 20  weather_timestamp      42408 non-null  object
 21  temperature(f)         42353 non-null  float64
 22  wind_chill(f)          26140 non-null  float64
 23  humidity(%)            42228 non-null  float64
 24  pressure(in)           42404 non-null  float64
 25  visibility(mi)         42352 non-null  float64
 26  wind_direction         42162 non-null  object
 27  wind_speed(mph)        40448 non-null  float64
 28  precipitation(in)      19343 non-null  float64
 29  weather_condition      42356 non-null  object
 30  amenity                42472 non-null  bool
 31  bump                   42472 non-null  bool
 32  crossing               42472 non-null  bool
 33  give_way               42472 non-null  bool
 34  junction               42472 non-null  bool
 35  no_exit                42472 non-null  bool
 36  railway                42472 non-null  bool
 37  roundabout             42472 non-null  bool
 38  station                42472 non-null  bool
 39  stop                   42472 non-null  bool
 40  traffic_calming        42472 non-null  bool
 41  traffic_signal         42472 non-null  bool
 42  turning_loop           42472 non-null  bool
 43  sunrise_sunset         42471 non-null  object
 44  civil_twilight         42471 non-null  object
 45  nautical_twilight      42471 non-null  object
 46  astronomical_twilight  42471 non-null  object
dtypes: bool(13), float64(13), int64(1), object(20)
memory usage: 11.5+ MB

In [11]:
chi_df.isna().sum().sort_values(ascending = False)[:20]

number                   26593
precipitation(in)        23129
wind_chill(f)            16332
wind_speed(mph)           2024
wind_direction             310
humidity(%)                244
visibility(mi)             120
temperature(f)             119
weather_condition          116
pressure(in)                68
weather_timestamp           64
timezone                     2
airport_code                 2
nautical_twilight            1
civil_twilight               1
sunrise_sunset               1
astronomical_twilight        1
city                         1
country                      0
give_way                     0
dtype: int64

In [13]:
chi_df[['number']]

        number
0          NaN
1      21500.0
2      21501.0
3       1194.0
4       7899.0
...        ...
42467      NaN
42468      NaN
42469   3799.0
42470      NaN
42471   6110.0

[42472 rows x 1 columns]